body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
  
#container {
    text-align: center;
    border: 2px solid #000; 
    padding: 20px;
}

#bar{
    margin-top: 10px;
}