body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
  
#container {
    text-align: center;
    border: 10px solid blue; 
    border-radius: 10px;
    padding: 40px;
}
  
#inputLettere, #btn, #word, #tentativi, #numeri {
    font-size: 2em; 
    margin: 10px; 
}    
  